
footer {
    background-color:rgb(74, 73, 73);
    color: white;
    padding: '20px 0';
    text-align: 'center';
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 35px ;
}

.container {
    display: flex;
    align-items: center;
    padding-left: 45%;
}