.navbar {
  background: linear-gradient(to right, #8f8282, #6b5b5b); /* Gradient background */
  box-shadow: 1px 2px 3px rgba(88, 59, 59, 0.1); /* Subtle box shadow */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  padding: 5px 30px;
  font-size: 1.15rem;
}

.omotac {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
  
.left {
  display: flex;
  align-items: center;
}

.middle {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
  
  
  .logo {
    max-width: 30px;
    margin-right: 7px;
  }
  
  
  .nav-link {
    color: #000000;
    text-decoration: none;
    margin: 10px;
    transition: color 0.3s ease; /* Adding smooth color transition */
}
  
  .middle-link {
    margin: 8px;
  }
  
  .nav-link:hover {
    text-decoration: underline;
    color: #d3cccc; /* Change color on hover */
  }

  .nav-link-log {
    display: inline-block;
    padding: 6px 14px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 7px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }
  
  .nav-link-log:hover {
    background-color: #000000;
    color: #ffffff;
    border-color: #000000;
  }

  .user-info {
    display: flex;
    align-items: center; 
    
  }
  
  .logoUser {
    max-width: 13px; 
    margin-right: 3px; 
    margin-left: 5px;

  }


  
div#imeLink {
  color: black;
  text-decoration: none;
}