.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7d7979;
    color: #000000;
    padding: 10px 20px;
  }
  
  .left {
    display: flex;
    align-items: center;
    padding-left: 10px;
    justify-self:flex-start;
  }
  
  .menu-icon {
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
    max-width: 50px;
    display: none;
  }
  
  .logo {
    max-width: 40px;
  }
  
  .right {
    display: flex;
    align-items: center;
    padding-left: 25px;
  }
  
  .middle {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  
  .nav-link {
    color: #000000;
    text-decoration: none;
    margin: 10px;
    transition: color 0.3s ease; /* Adding smooth color transition */
}
  
  .middle-link {
    margin: 8px;
  }
  
  .nav-link:hover {
    text-decoration: underline;
    color: #d3cccc; /* Change color on hover */
  }
  
  @media only screen and (max-width: 1024px) {
    .middle {
      display: none;
    }
    .menu-icon {
      display:inline
    }
  }
  
  div.omotac {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

 