div.wrrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

button.urediKorisnikeGumb {
    margin-top: 30px;
    font-size: 4vh;
    border-radius: 7px;
    border: 1px solid rgb(99, 98, 98);
}

div.task-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width:90vw;
    align-items: center;
    margin-bottom: 20px;
}
div.task{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width:fit-content;
    height: fit-content;
    margin: 3rem;
    padding: 0.1rem 1rem;
    margin-bottom: 10px;
    margin-top: 20px;
}

div.task:hover {
    border-bottom: 3px solid lightgrey;
    border-left: 2px solid rgba(211, 211, 211, 0.45);
    border-right: 2px solid lightgray;
    transform: scale(1.05) translateY(-5px); /* Scale and move the element */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Add a stronger box shadow */
    border-radius: 1rem;
}

h2#poseban{
    text-align: left;
    font-size: 5.5vh;
    text-decoration: none;
    margin-bottom: -10px;
    margin-left: 3px;
    color:rgb(56, 54, 54);
}


img.profile {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    padding: 2px;
}

div.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

div.tekstDio {
    align-self: flex-start;
    font-size: 1.3rem;
    margin-left: 5px;
    margin-top: -10px;
}

.ikona {
    margin-bottom: 0.1rem;
}

h3.podaciokorisniku {
    text-decoration: underline;
}

.imeiprezime {
    text-decoration: none;
}

div.naslov{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
}

div.naslov button {
    height: fit-content;
    border-radius: 10px;
    margin: 10px;
    font-size: 3vh;
    background-color:whitesmoke;
    padding: 8px;
}

button.zadmina:hover {
    background-color:#645e5edd;
    color: white;
}
button.zadmina.greenButton {
    background-color: green;
    color: white;
}
button.zadmina.greenButton:hover {
    background-color: darkgreen;
    /* Dodajte ostale stilove za hover prema potrebi */
}

button.zadmina.redButton {
    background-color: red;
    color: white;
}
button.zadmina.redButton:hover {
    background-color: darkred;
    /* Dodajte ostale stilove za hover prema potrebi */
}

button.zadmina.blueButton {
    background-color: deepskyblue;
    color: white;
    border-radius: 10px;
}
button.zadmina.blueButton:hover {
    background-color: blue;
    /* Dodajte ostale stilove za hover prema potrebi */
}



div.gumbici {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: -30px;
}

button.zadmina {
    border: 0px solid white;
    background-color: white;
}

form.nestajuciForm {
    border: 0px none inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    justify-items: center;
    background-color:inherit;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    margin-top: -16px;
}

form.nestajuciForm input {
    margin: 0px;
    padding: 0px;
    width: 30vh;
}

div.izbor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    width: 17vw;
    margin-left: 8px;
    margin-top: -20px;
}

div.izbor p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

button#spremime{
    padding: 10px;
    border-radius: 12px;
    background-color: rgba(199, 199, 199, 0.824);
    color: black;
    border: 0.5px solid gray;
}

button#spremime:hover {
    background-color:#645e5edd;
    color: white;
}

p.podatak {
    font-size: 1.5rem;
}

@media screen and (max-width: 767px) {
    div.task-list {
        flex-direction: column;
        justify-content: center;
    }

}